# #Todoist API
#
## Developing with Todoist  Thanks for your interest in developing apps with Todoist. In this section we will provide an overview of the API we offer and cover some common topics for application development using them.  You can use our API for free, but depending on your Todoist account plan (or that of the authenticated user), some features may be restricted.  Please consider subscribing to the [Todoist API mailing list](https://groups.google.com/a/doist.com/g/todoist-api) to get important updates.  ## Our API  Our API uses an approach that should be familiar to anyone with experience calling [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer) APIs.  We also have a special endpoint called `/sync`, which is used by our first-party clients to keep the data updated locally without having to make many separate requests to the API. Anyone can use it, and some actions will only be available via `/sync`. The format is unconventional compared to current API standards, but it is our main driver for first-party apps.  ## Our SDKs  Our Python and JavaScript SDKs streamline working with the Todoist API, and can be installed from the main package registries for each ecosystem.  For instructions, examples, and reference documentation, visit their pages:  - [Todoist Python SDK](https://doist.github.io/todoist-api-python/) - [Todoist TypeScript SDK](https://doist.github.io/todoist-api-typescript/)  ## Pagination  Paginated endpoints are marked by having the `next_cursor` attribute in the response.  When a response comes back with `next_cursor: null`, it means the endpoint is paginated but there are no more pages to request data from.  If the cursor is `non-null`, there are more objects to return, and a new request is necessary to get the next page.  The `next_cursor` contains an _opaque_ string that shouldn't be modified in any way. It should be sent **as-is** in the `cursor` parameter along with the same parameters used in the previous request.  ## Integrations  Integrations can be created and updated [here](https://app.todoist.com/app_console).  Once done, they can also be submitted for evaluation and inclusion in [our official integrations list](https://www.todoist.com/integrations). This not only serves as an opportunity to market your integration to our audience, but will also serve as a way to help users get set up and familiar with your app quickly.  To get your integration evaluated, please submit it via [this page](https://doist.typeform.com/to/Vvq7kNcl?typeform-source=todoist.com/api/v1/docs).  Lost? Reach out to us at [submissions@doist.com](mailto:submissions@doist.com) anytime.
#
# The version of the OpenAPI document: 1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.14.0-SNAPSHOT
#

require "cgi"

module Todoist
  class ActivityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get Activity Logs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :object_type
    # @option opts [ObjectId] :object_id
    # @option opts [ParentProjectId] :parent_project_id
    # @option opts [ParentItemId] :parent_item_id
    # @option opts [Boolean] :include_parent_object  (default to false)
    # @option opts [Boolean] :include_child_objects  (default to false)
    # @option opts [Integer] :initiator_id
    # @option opts [Boolean] :initiator_id_null
    # @option opts [String] :event_type
    # @option opts [Boolean] :ensure_last_state  (default to false)
    # @option opts [Boolean] :annotate_notes  (default to false)
    # @option opts [Boolean] :annotate_parents  (default to false)
    # @option opts [String] :cursor
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Array<String>] :request_body
    # @return [PaginatedListActivityEvents]
    def get_activity_logs_api_v1_activities_get(opts = {})
      data, _status_code, _headers = get_activity_logs_api_v1_activities_get_with_http_info(opts)
      data
    end

    # Get Activity Logs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :object_type
    # @option opts [ObjectId] :object_id
    # @option opts [ParentProjectId] :parent_project_id
    # @option opts [ParentItemId] :parent_item_id
    # @option opts [Boolean] :include_parent_object  (default to false)
    # @option opts [Boolean] :include_child_objects  (default to false)
    # @option opts [Integer] :initiator_id
    # @option opts [Boolean] :initiator_id_null
    # @option opts [String] :event_type
    # @option opts [Boolean] :ensure_last_state  (default to false)
    # @option opts [Boolean] :annotate_notes  (default to false)
    # @option opts [Boolean] :annotate_parents  (default to false)
    # @option opts [String] :cursor
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Array<String>] :request_body
    # @return [Array<(PaginatedListActivityEvents, Integer, Hash)>] PaginatedListActivityEvents data, response status code and response headers
    def get_activity_logs_api_v1_activities_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivityApi.get_activity_logs_api_v1_activities_get ..."
      end
      allowable_values = ["project", "item", "note"]
      if @api_client.config.client_side_validation && opts[:object_type] && !allowable_values.include?(opts[:object_type])
        fail ArgumentError, "invalid value for \"object_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:cursor].nil? && opts[:cursor].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"cursor"]" when calling ActivityApi.get_activity_logs_api_v1_activities_get, the character length must be great than or equal to 1.'
      end

      pattern = /^[0-9a-zA-Z_-]+\.[0-9a-zA-Z_-]+$/
      if @api_client.config.client_side_validation && !opts[:cursor].nil? && opts[:cursor] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"cursor\"]' when calling ActivityApi.get_activity_logs_api_v1_activities_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ActivityApi.get_activity_logs_api_v1_activities_get, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = "/api/v1/activities"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:object_type] = opts[:object_type] if !opts[:object_type].nil?
      query_params[:object_id] = opts[:object_id] if !opts[:object_id].nil?
      query_params[:parent_project_id] = opts[:parent_project_id] if !opts[:parent_project_id].nil?
      query_params[:parent_item_id] = opts[:parent_item_id] if !opts[:parent_item_id].nil?
      query_params[:include_parent_object] = opts[:include_parent_object] if !opts[:include_parent_object].nil?
      query_params[:include_child_objects] = opts[:include_child_objects] if !opts[:include_child_objects].nil?
      query_params[:initiator_id] = opts[:initiator_id] if !opts[:initiator_id].nil?
      query_params[:initiator_id_null] = opts[:initiator_id_null] if !opts[:initiator_id_null].nil?
      query_params[:event_type] = opts[:event_type] if !opts[:event_type].nil?
      query_params[:ensure_last_state] = opts[:ensure_last_state] if !opts[:ensure_last_state].nil?
      query_params[:annotate_notes] = opts[:annotate_notes] if !opts[:annotate_notes].nil?
      query_params[:annotate_parents] = opts[:annotate_parents] if !opts[:annotate_parents].nil?
      query_params[:cursor] = opts[:cursor] if !opts[:cursor].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
        header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:request_body])

      # return_type
      return_type = opts[:debug_return_type] || "PaginatedListActivityEvents"

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :"ActivityApi.get_activity_logs_api_v1_activities_get",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityApi#get_activity_logs_api_v1_activities_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
