# #Todoist API
#
## Developing with Todoist  Thanks for your interest in developing apps with Todoist. In this section we will provide an overview of the API we offer and cover some common topics for application development using them.  You can use our API for free, but depending on your Todoist account plan (or that of the authenticated user), some features may be restricted.  Please consider subscribing to the [Todoist API mailing list](https://groups.google.com/a/doist.com/g/todoist-api) to get important updates.  ## Our API  Our API uses an approach that should be familiar to anyone with experience calling [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer) APIs.  We also have a special endpoint called `/sync`, which is used by our first-party clients to keep the data updated locally without having to make many separate requests to the API. Anyone can use it, and some actions will only be available via `/sync`. The format is unconventional compared to current API standards, but it is our main driver for first-party apps.  ## Our SDKs  Our Python and JavaScript SDKs streamline working with the Todoist API, and can be installed from the main package registries for each ecosystem.  For instructions, examples, and reference documentation, visit their pages:  - [Todoist Python SDK](https://doist.github.io/todoist-api-python/) - [Todoist TypeScript SDK](https://doist.github.io/todoist-api-typescript/)  ## Pagination  Paginated endpoints are marked by having the `next_cursor` attribute in the response.  When a response comes back with `next_cursor: null`, it means the endpoint is paginated but there are no more pages to request data from.  If the cursor is `non-null`, there are more objects to return, and a new request is necessary to get the next page.  The `next_cursor` contains an _opaque_ string that shouldn't be modified in any way. It should be sent **as-is** in the `cursor` parameter along with the same parameters used in the previous request.  ## Integrations  Integrations can be created and updated [here](https://app.todoist.com/app_console).  Once done, they can also be submitted for evaluation and inclusion in [our official integrations list](https://www.todoist.com/integrations). This not only serves as an opportunity to market your integration to our audience, but will also serve as a way to help users get set up and familiar with your app quickly.  To get your integration evaluated, please submit it via [this page](https://doist.typeform.com/to/Vvq7kNcl?typeform-source=todoist.com/api/v1/docs).  Lost? Reach out to us at [submissions@doist.com](mailto:submissions@doist.com) anytime.
#
# The version of the OpenAPI document: 1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.14.0-SNAPSHOT
#

require "cgi"

module Todoist
  class AuthorizationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Migrate Personal Token
    # Tokens obtained via the old email/password authentication method can be migrated to the new OAuth access token. Migrating your users' personal tokens will allow users to see your app in their Todoist Settings page and give them the ability to manage their app authorization.  A successful response has `200 OK` status and `application/json` Content-Type.
    # @param personal_token [String]
    # @param todoist_apps_app_platform_controllers_access_token_body [TodoistAppsAppPlatformControllersAccessTokenBody]
    # @param [Hash] opts the optional parameters
    # @return [MigratePersonalTokenResponse]
    def migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post(personal_token, todoist_apps_app_platform_controllers_access_token_body, opts = {})
      data, _status_code, _headers = migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post_with_http_info(personal_token, todoist_apps_app_platform_controllers_access_token_body, opts)
      data
    end

    # Migrate Personal Token
    # Tokens obtained via the old email/password authentication method can be migrated to the new OAuth access token. Migrating your users&#39; personal tokens will allow users to see your app in their Todoist Settings page and give them the ability to manage their app authorization.  A successful response has &#x60;200 OK&#x60; status and &#x60;application/json&#x60; Content-Type.
    # @param personal_token [String]
    # @param todoist_apps_app_platform_controllers_access_token_body [TodoistAppsAppPlatformControllersAccessTokenBody]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MigratePersonalTokenResponse, Integer, Hash)>] MigratePersonalTokenResponse data, response status code and response headers
    def migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post_with_http_info(personal_token, todoist_apps_app_platform_controllers_access_token_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AuthorizationApi.migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post ..."
      end
      # verify the required parameter 'personal_token' is set
      if @api_client.config.client_side_validation && personal_token.nil?
        fail ArgumentError, "Missing the required parameter 'personal_token' when calling AuthorizationApi.migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post"
      end
      # verify the required parameter 'todoist_apps_app_platform_controllers_access_token_body' is set
      if @api_client.config.client_side_validation && todoist_apps_app_platform_controllers_access_token_body.nil?
        fail ArgumentError, "Missing the required parameter 'todoist_apps_app_platform_controllers_access_token_body' when calling AuthorizationApi.migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post"
      end
      # resource path
      local_var_path = "/api/v1/access_tokens/migrate_personal_token"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:personal_token] = personal_token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
        header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(todoist_apps_app_platform_controllers_access_token_body)

      # return_type
      return_type = opts[:debug_return_type] || "MigratePersonalTokenResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :"AuthorizationApi.migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizationApi#migrate_personal_token_api_v1_access_tokens_migrate_personal_token_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Revoke Access Token Api
    # Revoke the access tokens obtained via OAuth
    # @param client_id [String]
    # @param client_secret [String]
    # @param access_token [String]
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def revoke_access_token_api_api_v1_access_tokens_delete(client_id, client_secret, access_token, opts = {})
      data, _status_code, _headers = revoke_access_token_api_api_v1_access_tokens_delete_with_http_info(client_id, client_secret, access_token, opts)
      data
    end

    # Revoke Access Token Api
    # Revoke the access tokens obtained via OAuth
    # @param client_id [String]
    # @param client_secret [String]
    # @param access_token [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def revoke_access_token_api_api_v1_access_tokens_delete_with_http_info(client_id, client_secret, access_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AuthorizationApi.revoke_access_token_api_api_v1_access_tokens_delete ..."
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AuthorizationApi.revoke_access_token_api_api_v1_access_tokens_delete"
      end
      # verify the required parameter 'client_secret' is set
      if @api_client.config.client_side_validation && client_secret.nil?
        fail ArgumentError, "Missing the required parameter 'client_secret' when calling AuthorizationApi.revoke_access_token_api_api_v1_access_tokens_delete"
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling AuthorizationApi.revoke_access_token_api_api_v1_access_tokens_delete"
      end
      # resource path
      local_var_path = "/api/v1/access_tokens"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:client_id] = client_id
      query_params[:client_secret] = client_secret
      query_params[:access_token] = access_token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "Object"

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :"AuthorizationApi.revoke_access_token_api_api_v1_access_tokens_delete",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizationApi#revoke_access_token_api_api_v1_access_tokens_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
