=begin
#Todoist API

## Developing with Todoist  Thanks for your interest in developing apps with Todoist. In this section we will provide an overview of the API we offer and cover some common topics for application development using them.  You can use our API for free, but depending on your Todoist account plan (or that of the authenticated user), some features may be restricted.  Please consider subscribing to the [Todoist API mailing list](https://groups.google.com/a/doist.com/g/todoist-api) to get important updates.  ## Our API  Our API uses an approach that should be familiar to anyone with experience calling [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer) APIs.  We also have a special endpoint called `/sync`, which is used by our first-party clients to keep the data updated locally without having to make many separate requests to the API. Anyone can use it, and some actions will only be available via `/sync`. The format is unconventional compared to current API standards, but it is our main driver for first-party apps.  ## Our SDKs  Our Python and JavaScript SDKs streamline working with the Todoist API, and can be installed from the main package registries for each ecosystem.  For instructions, examples, and reference documentation, visit their pages:  - [Todoist Python SDK](https://doist.github.io/todoist-api-python/) - [Todoist TypeScript SDK](https://doist.github.io/todoist-api-typescript/)  ## Pagination  Paginated endpoints are marked by having the `next_cursor` attribute in the response.  When a response comes back with `next_cursor: null`, it means the endpoint is paginated but there are no more pages to request data from.  If the cursor is `non-null`, there are more objects to return, and a new request is necessary to get the next page.  The `next_cursor` contains an _opaque_ string that shouldn't be modified in any way. It should be sent **as-is** in the `cursor` parameter along with the same parameters used in the previous request.  ## Integrations  Integrations can be created and updated [here](https://app.todoist.com/app_console).  Once done, they can also be submitted for evaluation and inclusion in [our official integrations list](https://www.todoist.com/integrations). This not only serves as an opportunity to market your integration to our audience, but will also serve as a way to help users get set up and familiar with your app quickly.  To get your integration evaluated, please submit it via [this page](https://doist.typeform.com/to/Vvq7kNcl?typeform-source=todoist.com/api/v1/docs).  Lost? Reach out to us at [submissions@doist.com](mailto:submissions@doist.com) anytime. 

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0-SNAPSHOT

=end

require 'cgi'

module Todoist
  class LabelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Label
    # @param todoist_apps_api_rest_labels_body4 [TodoistAppsApiRestLabelsBody4] 
    # @param [Hash] opts the optional parameters
    # @return [LabelRestView]
    def create_label_api_v1_labels_post(todoist_apps_api_rest_labels_body4, opts = {})
      data, _status_code, _headers = create_label_api_v1_labels_post_with_http_info(todoist_apps_api_rest_labels_body4, opts)
      data
    end

    # Create Label
    # @param todoist_apps_api_rest_labels_body4 [TodoistAppsApiRestLabelsBody4] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabelRestView, Integer, Hash)>] LabelRestView data, response status code and response headers
    def create_label_api_v1_labels_post_with_http_info(todoist_apps_api_rest_labels_body4, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.create_label_api_v1_labels_post ...'
      end
      # verify the required parameter 'todoist_apps_api_rest_labels_body4' is set
      if @api_client.config.client_side_validation && todoist_apps_api_rest_labels_body4.nil?
        fail ArgumentError, "Missing the required parameter 'todoist_apps_api_rest_labels_body4' when calling LabelsApi.create_label_api_v1_labels_post"
      end
      # resource path
      local_var_path = '/api/v1/labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(todoist_apps_api_rest_labels_body4)

      # return_type
      return_type = opts[:debug_return_type] || 'LabelRestView'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.create_label_api_v1_labels_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#create_label_api_v1_labels_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Label
    # Deletes a personal label. All instances of the label will be removed from tasks
    # @param label_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_label_api_v1_labels_label_id_delete(label_id, opts = {})
      data, _status_code, _headers = delete_label_api_v1_labels_label_id_delete_with_http_info(label_id, opts)
      data
    end

    # Delete Label
    # Deletes a personal label. All instances of the label will be removed from tasks
    # @param label_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_label_api_v1_labels_label_id_delete_with_http_info(label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.delete_label_api_v1_labels_label_id_delete ...'
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.delete_label_api_v1_labels_label_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/labels/{label_id}'.sub('{' + 'label_id' + '}', CGI.escape(label_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.delete_label_api_v1_labels_label_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#delete_label_api_v1_labels_label_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Label
    # @param label_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [LabelRestView]
    def get_label_api_v1_labels_label_id_get(label_id, opts = {})
      data, _status_code, _headers = get_label_api_v1_labels_label_id_get_with_http_info(label_id, opts)
      data
    end

    # Get Label
    # @param label_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabelRestView, Integer, Hash)>] LabelRestView data, response status code and response headers
    def get_label_api_v1_labels_label_id_get_with_http_info(label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.get_label_api_v1_labels_label_id_get ...'
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.get_label_api_v1_labels_label_id_get"
      end
      # resource path
      local_var_path = '/api/v1/labels/{label_id}'.sub('{' + 'label_id' + '}', CGI.escape(label_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LabelRestView'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.get_label_api_v1_labels_label_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#get_label_api_v1_labels_label_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Labels
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 50)
    # @return [PaginatedListLabelRestView]
    def get_labels_api_v1_labels_get(opts = {})
      data, _status_code, _headers = get_labels_api_v1_labels_get_with_http_info(opts)
      data
    end

    # Get Labels
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(PaginatedListLabelRestView, Integer, Hash)>] PaginatedListLabelRestView data, response status code and response headers
    def get_labels_api_v1_labels_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.get_labels_api_v1_labels_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'cursor'].nil? && opts[:'cursor'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"cursor"]" when calling LabelsApi.get_labels_api_v1_labels_get, the character length must be great than or equal to 1.'
      end

      pattern = Regexp.new(/^[0-9a-zA-Z_-]+\.[0-9a-zA-Z_-]+$/)
      if @api_client.config.client_side_validation && !opts[:'cursor'].nil? && opts[:'cursor'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"cursor\"]' when calling LabelsApi.get_labels_api_v1_labels_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LabelsApi.get_labels_api_v1_labels_get, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/api/v1/labels'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedListLabelRestView'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.get_labels_api_v1_labels_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#get_labels_api_v1_labels_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Shared Labels
    # Returns a set of unique strings containing labels from active tasks.  By default, the names of a user's personal labels will also be included. These can be excluded by passing the `omit_personal` parameter.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :omit_personal  (default to false)
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 50)
    # @return [PaginatedListStr]
    def shared_labels_api_v1_labels_shared_get(opts = {})
      data, _status_code, _headers = shared_labels_api_v1_labels_shared_get_with_http_info(opts)
      data
    end

    # Shared Labels
    # Returns a set of unique strings containing labels from active tasks.  By default, the names of a user&#39;s personal labels will also be included. These can be excluded by passing the &#x60;omit_personal&#x60; parameter.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :omit_personal  (default to false)
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(PaginatedListStr, Integer, Hash)>] PaginatedListStr data, response status code and response headers
    def shared_labels_api_v1_labels_shared_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.shared_labels_api_v1_labels_shared_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'cursor'].nil? && opts[:'cursor'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"cursor"]" when calling LabelsApi.shared_labels_api_v1_labels_shared_get, the character length must be great than or equal to 1.'
      end

      pattern = Regexp.new(/^[0-9a-zA-Z_-]+\.[0-9a-zA-Z_-]+$/)
      if @api_client.config.client_side_validation && !opts[:'cursor'].nil? && opts[:'cursor'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"cursor\"]' when calling LabelsApi.shared_labels_api_v1_labels_shared_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LabelsApi.shared_labels_api_v1_labels_shared_get, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/api/v1/labels/shared'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'omit_personal'] = opts[:'omit_personal'] if !opts[:'omit_personal'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedListStr'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.shared_labels_api_v1_labels_shared_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#shared_labels_api_v1_labels_shared_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Shared Labels Remove
    # Remove the given shared label from all active tasks
    # @param todoist_apps_api_rest_labels_body1 [TodoistAppsApiRestLabelsBody1] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def shared_labels_remove_api_v1_labels_shared_remove_post(todoist_apps_api_rest_labels_body1, opts = {})
      data, _status_code, _headers = shared_labels_remove_api_v1_labels_shared_remove_post_with_http_info(todoist_apps_api_rest_labels_body1, opts)
      data
    end

    # Shared Labels Remove
    # Remove the given shared label from all active tasks
    # @param todoist_apps_api_rest_labels_body1 [TodoistAppsApiRestLabelsBody1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def shared_labels_remove_api_v1_labels_shared_remove_post_with_http_info(todoist_apps_api_rest_labels_body1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.shared_labels_remove_api_v1_labels_shared_remove_post ...'
      end
      # verify the required parameter 'todoist_apps_api_rest_labels_body1' is set
      if @api_client.config.client_side_validation && todoist_apps_api_rest_labels_body1.nil?
        fail ArgumentError, "Missing the required parameter 'todoist_apps_api_rest_labels_body1' when calling LabelsApi.shared_labels_remove_api_v1_labels_shared_remove_post"
      end
      # resource path
      local_var_path = '/api/v1/labels/shared/remove'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(todoist_apps_api_rest_labels_body1)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.shared_labels_remove_api_v1_labels_shared_remove_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#shared_labels_remove_api_v1_labels_shared_remove_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Shared Labels Rename
    # Rename the given shared label from all active tasks
    # @param name [String] 
    # @param todoist_apps_api_rest_labels_body2 [TodoistAppsApiRestLabelsBody2] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def shared_labels_rename_api_v1_labels_shared_rename_post(name, todoist_apps_api_rest_labels_body2, opts = {})
      data, _status_code, _headers = shared_labels_rename_api_v1_labels_shared_rename_post_with_http_info(name, todoist_apps_api_rest_labels_body2, opts)
      data
    end

    # Shared Labels Rename
    # Rename the given shared label from all active tasks
    # @param name [String] 
    # @param todoist_apps_api_rest_labels_body2 [TodoistAppsApiRestLabelsBody2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def shared_labels_rename_api_v1_labels_shared_rename_post_with_http_info(name, todoist_apps_api_rest_labels_body2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.shared_labels_rename_api_v1_labels_shared_rename_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling LabelsApi.shared_labels_rename_api_v1_labels_shared_rename_post"
      end
      # verify the required parameter 'todoist_apps_api_rest_labels_body2' is set
      if @api_client.config.client_side_validation && todoist_apps_api_rest_labels_body2.nil?
        fail ArgumentError, "Missing the required parameter 'todoist_apps_api_rest_labels_body2' when calling LabelsApi.shared_labels_rename_api_v1_labels_shared_rename_post"
      end
      # resource path
      local_var_path = '/api/v1/labels/shared/rename'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(todoist_apps_api_rest_labels_body2)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.shared_labels_rename_api_v1_labels_shared_rename_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#shared_labels_rename_api_v1_labels_shared_rename_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Label
    # @param label_id [Integer] 
    # @param todoist_apps_api_rest_labels_body3 [TodoistAppsApiRestLabelsBody3] 
    # @param [Hash] opts the optional parameters
    # @return [LabelRestView]
    def update_label_api_v1_labels_label_id_post(label_id, todoist_apps_api_rest_labels_body3, opts = {})
      data, _status_code, _headers = update_label_api_v1_labels_label_id_post_with_http_info(label_id, todoist_apps_api_rest_labels_body3, opts)
      data
    end

    # Update Label
    # @param label_id [Integer] 
    # @param todoist_apps_api_rest_labels_body3 [TodoistAppsApiRestLabelsBody3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabelRestView, Integer, Hash)>] LabelRestView data, response status code and response headers
    def update_label_api_v1_labels_label_id_post_with_http_info(label_id, todoist_apps_api_rest_labels_body3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.update_label_api_v1_labels_label_id_post ...'
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.update_label_api_v1_labels_label_id_post"
      end
      # verify the required parameter 'todoist_apps_api_rest_labels_body3' is set
      if @api_client.config.client_side_validation && todoist_apps_api_rest_labels_body3.nil?
        fail ArgumentError, "Missing the required parameter 'todoist_apps_api_rest_labels_body3' when calling LabelsApi.update_label_api_v1_labels_label_id_post"
      end
      # resource path
      local_var_path = '/api/v1/labels/{label_id}'.sub('{' + 'label_id' + '}', CGI.escape(label_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(todoist_apps_api_rest_labels_body3)

      # return_type
      return_type = opts[:debug_return_type] || 'LabelRestView'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LabelsApi.update_label_api_v1_labels_label_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#update_label_api_v1_labels_label_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
